<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="per.matt.android.manycostomview">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.BackGroundActivity"></activity>
        <activity android:name=".activities.LoadingViewsActivity"></activity>
        <activity android:name=".activities.BubbleSeekbarActivity"></activity>
        <activity android:name=".activities.ToastActivity"></activity>
        <activity android:name=".activities.DialogActivity"></activity>
        <activity android:name=".activities.SwitchButtonActivity"></activity>
        <activity android:name=".activities.ShapeViewsActivity"></activity>
        <activity android:name=".activities.DotsIndicatorActivity"></activity>
        <activity android:name=".activities.BehaviorActivity"></activity>
        <activity android:name=".activities.AppbarlayoutBehaviorActivity"></activity>
        <activity android:name=".activities.CollapsingActivity"></activity>
        <activity android:name=".activities.RecyclerviewActivity"></activity>
        <activity android:name=".activities.GroupSuspendRecyclerviewActivity"></activity>
        <activity android:name=".activities.PopupWindowActivity"></activity>
        <activity android:name=".activities.StatusbarActivity"
            android:label="Statusbar"
            ></activity>
        <activity android:name=".activities.StatusbarColorTranspActivity"
            android:theme="@style/AppThemeNoActionBar"
            ></activity>
        <activity android:name=".activities.StatusbarTransparentActivity"
            android:theme="@style/AppThemeNoActionBar"
            ></activity>
        <activity android:name=".activities.StatusbarImageviewActivity"
            android:theme="@style/AppThemeNoActionBarSlidr"
            ></activity>
        <activity android:name=".activities.StatusbarUseInFragmentActivity"
            android:theme="@style/AppThemeNoActionBar"
            ></activity>
        <activity android:name=".activities.StatusbarSwipeBackActivity"
            android:theme="@style/AppThemeNoActionBarSlidr"
            ></activity>

        <activity android:name=".activities.StatusbarLightDarkActivity"
            android:theme="@style/AppThemeNoActionBar"
            ></activity>
        <activity android:name=".activities.StatusbarDrawerlayoutActivity"
            android:theme="@style/AppThemeNoActionBar"
            ></activity>

        <activity android:name=".activities.ExpandpanelActivity"
            android:label="Expandpanel"
            ></activity>
        <activity android:name=".activities.NewbieGuideActivity"
        android:theme="@style/AppThemeNoActionBar"
        ></activity>
        <activity android:name=".activities.StepViewActivity"
            android:label="Step View"
            ></activity>
    </application>

</manifest>